<div class="c-footer">
    <div class="info">
        <p>&copy; 2024 Alexágono Software</p>
        <p>
            Acercamos la tecnología a las PYMES. Nuestros principios son la
            institucionalidad y la creatividad.
        </p>
    </div>
    <div class="correo">
        <p>Correo electrónico:</p>
        <a href="mailto:hola@alexagono.com">hola@alexagono.com</a>
    </div>
    <div class="redes-sociales">
        <a href="https://web.facebook.com/alexagonosoftware" target="_blank"
            ><img src="./img/facebook.svg" alt="facebook" /></a
        >
        <a href="https://www.instagram.com/alexagono_software" target="_blank"
            ><img src="./img/instagram.svg" alt="instagram" /></a
        >
        <a href="https://www.x.com/alexagono_sw" target="_blank"
            ><img src="./img/x.svg" alt="X" /></a
        >
    </div>
</div>
