<div class="gradient-box" id="welcome">
    <div class="wrapper-intro">
        <div class="wrapper-intro-text">
            <h4>Tecnología accessible para todos</h4>
            <h1>Innovación tecnológica en un mundo digital colectivo</h1>
            <h2>
                Creemos en la fuerza del colectivo, donde cada línea de código
                es un eslabón en la cadena de una visión compartida. <br />Únete
                a nosotros, y juntos, forjemos un camino hacia un mañana digital
                que todos construimos y compartimos
            </h2>
        </div>
    </div>
    <div></div>
</div>
