---
import Alexagono from "./icons/alexagono.astro";
---

<nav class="navbar">
    <div class="navbar-logo">
        <Alexagono width={70} height={70} />
    </div>
    <ul class="menu">
        <li><a href="index">Inicio</a></li>
        <li><a href="nosotros">Nosotros</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="contacto">Contacto</a></li>
    </ul>
</nav>
