---
import Figures from "./icons/figures.astro";
import Slide from "./Slide.astro";
---

<h1 class="sections-title">Nuestros servicios</h1>

<section class="centered-container services">
    <div class="container-services">
        <div class="service">
            <h2>Desarrollo web</h2>
            <p>
                Creamos sitios web accesibles y responsivos, con un diseño
                moderno y atractivo.
            </p>
        </div>
        <div class="service">
            <h2>Desarrollo móvil</h2>
            <p>
                Desarrollamos aplicaciones móviles para Android y iOS, con un
                diseño intuitivo y fácil de usar.
            </p>
        </div>
        <div class="service">
            <h2>Desarrollo de software</h2>
            <p>
                Creamos software a la medida, adaptado a las necesidades de tu
                empresa.
            </p>
        </div>
</section>
<Slide />
