---
import Arrow from "./icons/Arrow.astro";
---

<div class="wrapper-slide">
    <h4>Tecnología acceible para todos</h4>
    <Arrow width={50} height={50} />
</div>

<style>
    .wrapper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
        color: #fff;
    }
    h4 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
</style>
